.loginSignup {
    width: 100%;
    height: 90vh;
    background: linear-gradient(180deg, #f4d49d, #dadada22 90%);
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20%;
}

.loginSignup-container {
    width: 450px;
    height: 550px;
    background: #fff;
    padding: 20px 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 20px #f5b847;
}

.loginSignup-container h1 {
    margin: 20px 0;
}

.loginSignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.loginSignup-fields input {
    height: 50px;
    width: 100%;
    padding-left: 5%;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginSignup-container button {
    width: 100%;
    height: 72px;
    color: #fff;
    background-color: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginSignup-container button:hover {
    background-color: #cd2d2d;
}

.loginSignup-login {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #5c5c5c;
    text-align: center;
    cursor: pointer;
}

.loginSignup-login span {
    color: #ff4141;
    font-weight: 600;
}
.loginSignup-agree{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: start;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}